@model IEnumerable<WebApp_06_11_2023.Models.Paciente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sobrenomePaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobrenomePaciente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idPaciente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idPaciente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idPaciente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
